<!DOCTYPE html>
<html>
    <!--Snippets of code taken from W3 Schools-->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <title>Patient Information Portal for Healthcare Administration</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="patients.css">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <h1 class="titlehead">Patients</h1>
        <ul class="menu">
            <!--Horizontal menu-->
            <li class="menuItem"><a href="/">Home</a></li>
            <li class="menuItem"><a href="/patients">Patients</a></li>
            <li class="menuItem"><a href="/physicians">Physicians</a></li>
            <li class="menuItem"><a href="/hospitals">Hospitals</a></li>
            <li class="menuItem"><a href="/payors">Payors</a></li>
            <li class="menuItem"><a href="/hospitalsandpayors">Hospitals and Payors Relationship</a></li>
          </ul>
        <form action="/patients" method="post" name="Add" onsubmit="alert('Patient has been added to Hardison-Kim Hospital Database')">
            <fieldset>
                <legend>Add Patient</legend>
                <br>
                <label>Last Name:
                    <input type="text" name="AddLast" size="30" required>
                </label>
                <br>
                <label>First Name:
                <input type="text" name="AddFirst" size="30" required>
                </label>
                <br>
                <label>Date of Birth:
                    <input type="date" name="AddDob" size="30" required>
                </label>
                <br>
                <label>Street Address:
                    <input type="text" name="AddStreet" size="30" required>
                </label>
                <br>
                <label>City:
                    <input type="text" name="AddCity" size="30" required>
                </label>
                <br>
                <label>State:
                    <input type="text" name="AddState" size="30" required>
                </label>
                <br>
                <label>Zip:
                    <input type="number" name="AddZip" size="30" required>
                </label>
                <br>
                <label>Gender:
                    <br>
                    <select name="AddGender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
                <br>
                <label>Primary Diagnosis:
                    <input type="text" name="AddDiagnosis" size="30" required>
                </label>
                <br>
                <label>Physician Identification Number:
                    <input type="number" name="AddPhysID" size="30">
                </label>
                <br>
                <label for="PayName">Payor: </label>
                <select id="PayName" name="PayName">
                    <option value="NULL">None</option>
                    {{#each results}}
                        <option value="{{this.company}}">{{this.company}}</option>
                    {{/each}}
                </select>
                <br>
                <input type="submit" name="AddPat" value="Add Patient"/>
            </fieldset>
        </form>
        <br>
        <form name="Search">
            <fieldset>
                <legend>Patient Search</legend>
                <br>
                <label>First Name:
                    <input type="text" name="searchFirst" id="searchFirst" size="30" required>
                </label>
                <br>
                <label>Last Name:
                    <input type="text" name="searchLast" id="searchLast" size="30" required>
                </label>
                <br>
                <label>Date of Birth:
                    <input type="date" name="searchDOB" id="searchDOB" size="30" required>
                </label>
                <br>
                <button name="searchPat" id="searchPat" value="searchPat">Search</button>
                <br>
                <br>
                <button name="clear" id="clear" value="clear">Clear Search Results</button>
            </fieldset>
        </form>
        <br>
        <br>
        {{!
        <table id="PatientsTable" type="text/x-handlebars-template">
            <caption>Search Results</caption>
            <thead>
                <tr>
                    <th style="border:solid black">First Name</th>
                    <th style="border:solid black">Last Name</th>
                    <th style="border:solid black">DOB</th>
                    <th style="border:solid black">Address</th>
                    <th style="border:solid black">City</th>
                    <th style="border:solid black">State</th>
                    <th style="border:solid black">Zip Code</th>
                    <th style="border:solid black">Gender</th>
                    <th style="border:solid black">Primary Diagnosis</th>
                </tr>
            </thead>
            <!--Utilizing handlebars to fill in search data into table below, mock data used to visualize-->
                <tr>
                    <td class="patientID" id="patientID" hidden style="border:solid black">Test</td>
                    <td id="fname" style="border:solid black">John</td>
                    <td id="lname" style="border:solid black">Doe</td>
                    <td id="dob" style="border:solid black">02/14/1967</td>
                    <td id="address" style="border:solid black">9160 Alligator Loop</td>
                    <td id="city" style="border:solid black">Apex</td>
                    <td id="state" style="border:solid black">North Carolina</td>
                    <td id="zip" style="border:solid black">27502</td>
                    <td id="gender" style="border:solid black">Male</td>
                    <td id="primDiagnosis" style="border:solid black">Coronavirus</td>
                    <td><button class="deleteRow" type="button">Delete</button></td>
                    <td><button class="editRow" type="button">Edit</button></td>
                    <td><button class="updateRow" type="button">Update</button></td>
                </tr>
        </table>
        }}
        <script src="/patients.js"></script>
    </body>
</html>